.topnav {
    background-color: #fff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

/* Change the color of links on hover */


/* Hide the link that should open and close the topnav on small screens */




h4 {
    font-family: calibri;	
    font-size: 15px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
	}
	


.button{
	width:150px;
	background-color: white;
	font-family:calibri;
	font-size: 15px;
	padding: 12px 20px;
    color: black;
	background-color: #e7e7e7; color: black;
    border: 2px solid blue;
	border-radius: 12px;}
	
.button:hover {
    background-color: grey;
    color: white;
}

/* The actual timeline (the vertical ruler) */
.line {
    position: relative;
    margin: 0 auto;
	display: flex;
}



.one-container {
    padding: 10px 40px;
    background-color: inherit;
    width: 100%;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


/* The actual content */




/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 */

 
 
 
body{
	margin:0;
	padding:0;
	font-size:12px;
}

.topnav{
	width: 415px;
    margin: auto;
	margin-top: 20px;
}
.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: calibri;
	border: 1px solid transparent;
    border-bottom: 1px solid #6698d6;
	margin: 0 10px;
}

.topnav a:hover {
    background-color: white;
	border: 1px solid #6698d6 !important;
    color: #6698d6 !important;
}

/* Add an active class to highlight the current page */
.active {
background-color: white;
	border: 1px solid #6698d6 !important;
    color: #6698d6 !important;
}


h3 {
        font-family: calibri;
    font-size: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
	}

.box {
    background-color: #000;
    font-family: Helvetica, sans-serif;
	padding-top: 45px;
	position:relative;
}

.box::before {
        content: " ";
    height: 0;
    position: absolute;
    top: -5px;
    width: 0;
    z-index: 1;
    left: calc(50% - 5px);
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    transform: rotate(90deg);
}

.corner-wrap {
    position: relative;
}

.corner-wrap::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
    left: 0;
    border: medium solid white;
    border-width: 0px 0px 20px 20px;
    border-color: #000 #000 #0006 #000;
}

.content-box {
    padding: 20px 30px;
    background-color: #fff;
}




.pri-color{
	background-color:#6698d6;
	color:#fff;
}

.pri-color .button {
    font-family: calibri;
    font-size: 15px;
    padding: 5px 20px;
    color: black;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight: bold;
}

.sec-color{
	background-color:#ccc;
	color:#000;
}

.sec-color .button {
    font-family: calibri;
    font-size: 15px;
    padding: 5px 20px;
    color: #000;
    background-color: transparent;
    color: black;
    border: 1px solid #000;
    border-radius: 50px;
    font-weight: bold;
}

.meter{
	width: 80%;
    margin: auto;
    border-radius: 40px;
    height: 10px;
    display: block;
    padding: 0;
    margin-bottom: 70px;
    position: relative;
    max-width: 550px;
}

.meter label{
	margin: 0;
    display: block;
    float: left;
    height: 10px;
	width:24%;
	position: relative;
}

.meter label::before{
	content: " ";
    height: 10px;
    position: absolute;
    top: 0;
	left:50%;
    width: 1px;
	background-color:#000;
}


.meter span{
	position: absolute;
    margin-top: 30px;
    width: 70px;
    margin-left: calc(50% - 35px);
    text-align: center;
	display:block;
}

.meter input{
	position: absolute;
    margin-top: 15px;
    margin-left: 2px;
    width: 100%;
}
.meter label input:checked::before{
	content: " ";
    height: 10px;
    position: absolute;
    top: -15px;
	background-color: #6698d6;
    border-radius: 10px 0 0 10px;
	    z-index: -1;
}

.meter label:nth-child(1) input:checked::before{
    left: -2px;
    width: 50%;
    
}

.meter label:nth-child(2) input:checked::before{
	
    left: calc(-100% - 2px);
    width: 150%;
}

.meter label:nth-child(3) input:checked::before{

    left: calc(-200% - 2px);
    width: 250%;
}

.meter label:nth-child(4) input:checked::before{

    left: calc(-300% - 2px);
    width: 350%;
}

.read-more{
	display: none;
    width: calc(100% - 70px);
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
    padding: 15px 35px;
    z-index: 999;
    background-color: #b5fbe3;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.half {
	    margin: 20px 15px;
    width: calc(100% - 90px);
}

.full {
	margin: 20px 15px;
    width: calc(100% - 90px);
	
} 

.meter span {
    position: absolute;
    margin-top: 50px;
    width: 70px;
    margin-left: calc(50% - 65px);
    text-align: center;
    display: block;
    transform: rotate(-45deg);
    text-align: right;
}


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	.half {
	    margin: 20px 15px;
    width: calc(100% - 90px);
}

.full {
	margin: 20px 15px;
    width: calc(100% - 90px);
	
} 



}


@media only screen and (max-width: 700px) {
	
	.half {
	    margin: 20px 15px;
    width: calc(100% - 90px);
}

.full {
	margin: 20px 15px;
    width: calc(100% - 90px);
	
} 

.image1.content {
    padding-left: 100px;
}
.image1.content img {
    width: 90px;
    position: absolute;
    top: 120px;
    left: 20px;
}

.image2.content {
    padding-right: 70px;
}
.image2.content img {
    width: 70px;
    position: absolute;
    top: 160px;
    right: 20px;
}

.image3.content {
    padding-left: 90px;
}
.image3.content img {
    width: 80px;
    position: absolute;
    top: 30px;
    left:20px;
}



}


@media only screen and (min-width: 700px) {
	
	.row{
		display:flex;
	}
	
	.half {
	margin: 20px 35px;
    width: 50%;
}

.full {
	margin: 20px 35px;
    width: 100%;
}

.image1.content {
    padding-left: 100px;
}
.image1.content img {
        width: 90px;
    position: absolute;
    top: 120px;
    left: 20px;
}

.image2.content {
    padding-right: 50px;
}
.image2.content img {
        width: 70px;
    position: absolute;
    top: 180px;
    right: -20px;
}

.image3.content {
    padding-left: 180px;
}
.image3.content img {
        width: 190px;
    position: absolute;
    top: 30px;
    left: -20px;
}

}